body,
html {
    height: 100%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 13%, rgba(0, 212, 255, 1) 100%);
}

.bg-text {
    background-color: rgb(223, 223, 223);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px 5px rgb(8, 8, 77);
}

.inputsDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    margin-left: 1px;
}

input {
    background-color: rgb(173, 173, 173);
    width: 95%;
    height: 40px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    padding-left: 10px;
    border: solid 2px gray;
    transition: 0.5s;
    caret-color: rgb(0, 0, 168);
}

input:hover {
    background-color: rgb(187, 187, 187);
    border-color: rgb(0, 102, 255);
}

input:focus {
    background-color: rgb(187, 187, 187);
    border-color: rgb(0, 0, 168);
    outline: none;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    text-align: left;
    margin-left: 15px;
}

button {
    height: 50px;
    width: 250px;
    color: rgb(223, 223, 223);
    background-color: rgb(0, 102, 255);
    font-size: 20px;
    font-family: sans-serif;
    border: 2px solid rgb(0, 102, 255);
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(9, 9, 121);
    border-color: rgb(0, 0, 168);
    color: white;
}

.clickableText {
    font-family: Verdana;
    font-size: 14px;
    cursor: pointer;
    color: rgb(0, 102, 255);
    transition: 0.5s;
}

.clickableText:hover {
    color: rgb(9, 9, 121);
}

.bottomTextDiv {
    margin-bottom: 10px;
}