#map {
    opacity: 0;
    transition: 1s;
    width: 100%;
    height: 340px;
}

html,
body {
    margin: 0;
    padding: 0;
}

#loading {
    height: 91%;
    width: 92%;
    top: 9%;
    left: 5%;
    position: absolute;
    display: block;
    background-color: #fff;
    z-index: -1;
    text-align: center;
    transition: 1s;
}

#loading-image {
    width: 60%;
}

.color {
    background-color: gray;
    height: 30px;
    width: 30px;
    margin: auto;
    margin-right: 0px;
    border-radius: 5px;
}

.titulo {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

#divDetalles {
    margin-top: 20px;
    transition: 0.5s;
}

#txtFecha {
    text-align: center;
    transition: 1s;
    opacity: 0;
}